DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kjsk"
BETTER_AUTH_SECRET="<vähemalt-32-märki-juhuslik-saladus>"
BETTER_AUTH_URL="http://localhost:3001"
ADMIN_USERS_JSON='[{"username":"<admin-kasutaja>","password":"<vähemalt-12-märki>","role":"admin"},{"username":"<vanemadmin-kasutaja>","password":"<vähemalt-12-märki>","role":"senior_admin"}]'
PORT=3001
CORS_ORIGINS="http://localhost:8080"
